*{
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.Container{
  width: 400px;
  height: 400px;
  background-color: rgb(241, 241, 241);
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgb(192, 192, 192);
}
.Head{
  width: 200px;
  height: 150px;
  background-color: rgb(135, 255, 249);
  position: relative;
  top: 200px;
  left: 100px;
  border-radius: 100px 100px 70px 70px;
  border: 2px solid rgb(0, 221, 210);
}
.Ear{
  width: 50px;
  height: 150px;
  background-color: rgb(135, 255, 249);
  border: 2px solid rgb(0, 221, 210);
  border-radius: 50%;
  border-bottom: none;
  position: relative;
}
.EarRight{
  transform: rotate(-30deg);
  top: -75px;
  left: 75px;
}
.EarLeft{
  transform: rotate(30deg);
  top:-225px;
  left: 277px;
}
.EarInside{
  width: 30px;
  height: 100px;
  background-color: rgb(215, 255, 253);
  border-radius: 40%;
  position: absolute;
  bottom: 2px;
  left: 10px;
}
.EarOutside{
  width: 20px;
  height: 10px;
  border-top: 5px solid rgb(135, 255, 249);
  border-radius: 100px 100px 0 0;
}
.EarOutside1{
  transform: rotate(30deg);
  position: absolute;
  top: 0;
  left: 5px;
}
.EarOutside2{
  transform: rotate(90deg);
  position: absolute;
  top: -7px;
  left: 12px;
}
.EarOutside3{
  transform: rotate(330deg);
  position: absolute;
  top: 0;
  left: 25px;
}
.Eye{
  width: 20px;
  height: 30px;
  border-radius: 50%;
  background-color: black;
  position: relative;
}
.EyeRight{
  top:40px;
  left: 50px;
}
.EyeLeft{
  top:10px;
  left:130px;
}
.EyeInside1{
  position: absolute;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: white;
  top: 8px;
  left: 12px;
}
.EyeInside2{
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: white;
  top: 20px;
  left: 10px;
}
.EyeInside3{
  position: absolute;
  width: 7px;
  height: 12px;
  border-radius: 50%;
  background-color: white;
  top: 10px;
  left: 2px;
}
.Nose{
  width: 30px;
  height: 15px;
  background-color: rgb(0, 255, 242);
  position: absolute;
  left: 85px;
  top:75px;
  z-index: 3;
  border-radius: 7px 7px 30px 30px;
  border: 2px solid rgb(0, 221, 210);
}
.Mouth{
  width: 60px;
  height: 40px;
  position: relative;
  top: 30px;
  left: 74px;
}
.MouthInside1{
  width: 30px;
  height: 15px;
  border-top: 2px solid rgb(0, 221, 210);
  border-radius: 200px 200px 0 0 ;
  transform: rotate(170deg);
  position: absolute;
  top: -1px;
  left: 0;
}
.MouthInside2{
  width: 30px;
  height: 15px;
  border-top: 2px solid rgb(0, 221, 210);
  border-radius: 200px 200px 0 0 ;
  transform: rotate(190deg);
  position: absolute;
  top: -1px;
  left: 27px;
}
.MouthInside3{
  width: 15px;
  height: 30px;
  border-top: 2px solid rgb(0, 221, 210);
  border-radius: 300px 300px 0 0 ;
  transform: rotate(180deg);
  position: absolute;
  top: -11px;
  left: 21.5px;
}
.Whiskers div{
  background-color: white;
  height: 2px;
  width: 60px;
  border-radius: 1px;
}
.WhiskersRight{
  position: relative;
  left:130px;
  top: -14px;
}
.WhiskersLeft{
  position: relative;
  left: 15px;
  top:-16px;
}
.WhiskersRight > div:nth-child(1){
  transform: rotate(-7deg);
  position: absolute;
  top:-8px;
}
.WhiskersRight > div:nth-child(3){
  transform: rotate(7deg);
  position: absolute;
  top:8px;
}
.WhiskersLeft > div:nth-child(1){
  transform: rotate(7deg);
  position: absolute;
  top:-8px;
}
.WhiskersLeft > div:nth-child(3){
  transform: rotate(-7deg);
  position: absolute;
  top:8px;
}