*{
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.Container{
  width: 450px;
  height: 450px;
  background-color: rgb(55, 55, 55);
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgb(221, 221, 221);
  z-index: -2;
}
.FlowerContainer{
  position: relative;
  width: 250px;
  height: 250px;
  top: 100px;
  left: 100px;
}
.FlowerLeaves{
  position: absolute;
  width: 250px;
  height: 250px;
}
.FlowerLeave{
  background: white;
  width: 100px;
  height: 100px;
  clip-path: ellipse(19% 50% at 50% 50%);
  position: relative;
}
.FlowerLeave::before{
  content:'';
  position: absolute;
  background-color: rgb(55, 55, 55);
  width: 30px;
  height: 30px;
  top: -10px;
  left:35px; 
  border-radius: 100% 0% 89% 11% / 89% 0% 100% 11% ;
  transform: rotate(135deg);
}
.FlowerLeave_1{
  transform: rotate(30deg);
  top:16px;
  left: 105px;
}
.FlowerLeave_2{
  transform: rotate(82deg);
  top:-37px;
  left: 140px;
}
.FlowerLeave_3{
  transform: rotate(134deg);
  top:-81px;
  left: 125px;
}
.FlowerLeave_4{
  transform: rotate(183deg);
  top:-158px;
  left: 74px;
}
.FlowerLeave_5{
  transform: rotate(238deg);
  top:-286px;
  left: 21.5px;
}
.FlowerLeave_6{
  transform: rotate(290deg);
  top:-443px;
  left: 11.5px;
}
.FlowerLeave_7{
  transform: rotate(342deg);
  top:-586.5px;
  left: 50px;
}
.FlowersCenter{
  position: absolute;
  top: 110px;
  left:110px;
}
.FlowerCenter{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(234, 234, 177);
  position: relative;
}
.FlowerCenterInner{
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: rgb(206, 206, 129);
  position: absolute;
}
.FlowerCenterInner_1{
  top:5px;
  left: 5px;
}
.FlowerCenterInner_2{
  top:10px;
  left: 3px;
}
.FlowerCenterInner_3{
  top:15px;
  left: 2px;
}
.FlowerCenterInner_4{
  top:20px;
  left: 4px;
}
.FlowerCenterInner_5{
  top:24px;
  left: 7px;
}
.FlowerCenterInner_6{
  top:3px;
  left: 9px;
}
.FlowerCenterInner_7{
  top:8px;
  left: 7px;
}
.FlowerCenterInner_8{
  top:13px;
  left: 7px;
}
.FlowerCenterInner_9{
  top:18px;
  left: 9px;
}
.FlowerCenterInner_10{
  top:23px;
  left: 11px;
}
.FlowerCenterInner_11{
  top:26px;
  left: 13px;
}
.FlowerCenterInner_12{
  top:2px;
  left: 14px;
}
.FlowerCenterInner_13{
  top:7px;
  left: 12px;
}
.FlowerCenterInner_14{
  top:12px;
  left: 11px;
}
.FlowerCenterInner_15{
  top:17px;
  left: 13px;
}
.FlowerCenterInner_16{
  top:21px;
  left: 16px;
}
.FlowerCenterInner_17{
  top:25px;
  left: 18px;
}
.FlowerCenterInner_18{
  top:3px;
  left: 18px;
}
.FlowerCenterInner_19{
  top:8px;
  left: 16px;
}
.FlowerCenterInner_20{
  top:13px;
  left: 16px;
}
.FlowerCenterInner_21{
  top:18px;
  left: 19px;
}
.FlowerCenterInner_22{
  top:23px;
  left: 21px;
}
.FlowerCenterInner_23{
  top:5px;
  left: 22px;
}
.FlowerCenterInner_24{
  top:9px;
  left: 20px;
}
.FlowerCenterInner_25{
  top:14px;
  left: 20px;
}
.FlowerCenterInner_26{
  top:19px;
  left: 24px;
}
.FlowerCenterInner_27{
  top:9px;
  left: 24px;
}
.FlowerCenterInner_28{
  top:14px;
  left: 25px;
}
.Leaves{
  position: absolute;
}
.Leave{
  border-radius: 100% 0% 89% 11% / 89% 0% 100% 11% ;
  background-color: rgb(31, 84, 31);
  width: 50px;
  height: 50px;
  position: relative;
}
.Leave_1{
  top:45px;
  left: 170px;
}
.Leave_2{
  top:129px;
  left: 55px;
  transform: rotate(180deg);
}
.Leave_3{
  top:-60px;
  left: 30px;
  transform: rotate(260deg);
}
.LeaveInner{
  width: 60px;
  height: 20px;
  position: absolute;
  border-top: rgb(82, 125, 82) 3px solid;
  border-radius: 100% 30% 0 0;
  transform: rotate(145deg);
  bottom: 14px;
  left: -8.5px;
}
.FlowerContainer:nth-child(2){
  transform: scale(0.3);
  top:-130px;
  left:-30px;
}
.FlowerContainer:nth-child(3){
  transform: scale(0.3);
  top:-530px;
  left:110px;
}
.FlowerContainer:nth-child(4){
  transform: scale(0.3);
  top:-612px;
  left:220px;
}
.FlowerContainer:nth-child(5){
  transform: scale(0.3);
  top:-780px;
  left:152px;
}
.SpLeaves_1{
  position: relative;
  top:-1333px;
  left: 285px;
  transform: rotate(-35deg);
}
.SpLeave{
  position: relative;
  border-radius: 88% 12% 88% 12% / 90% 0% 100% 10%  ;
  background-color: rgb(31, 84, 31);
  width: 80px;
  height: 80px;
}
.SpLeave_1{
  transform: rotate(0deg);
}
.SpLeave_2{
  transform: rotate(80deg);
  left: 6px;
}
.SpLeaveInner{
  width: 60px;
  height: 20px;
  position: absolute;
  border-top: rgb(82, 125, 82) 3px solid;
  border-radius: 100% 30% 0 0;
  transform: rotate(145deg);
  bottom: 16px;
  left: -8.5px;
}
.SpLeaves_2{
  position: relative;
  top:-1545px;
  left: -235px;
  transform: rotate(-125deg);
}
.SpLeaves_3{
  position: relative;
  top:-1193px;
  left: -285px;
  transform: rotate(-215deg);
}
.SpLeaves_4{
  position: relative;
  top:-1352px;
  left: 290px;
  transform: rotate(35deg);
}