*{
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.Container{
  width: 450px;
  height: 450px;
  background-color: rgb(241, 241, 241);
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgb(192, 192, 192);
  z-index: -2;
}
.BodyContainer{
  position: relative;
  top:-230px;
}
.Head{
  width: 200px;
  height: 300px;
  background-color: beige;
  position: relative;
  top: 50px;
  left: 125px;
  border-radius: 100px 100px 50% 50%;
  border: 2px solid bisque;
}
.EyeContainerRight{
  position: absolute;
  top:90px;
  left: 125px;
}
.EyeContainerLeft{
  position: absolute;
  top:90px;
  left: 35px;
}
.Eyebrow{
  width: 40px;
  height: 40px;
  border-top: 5px solid black;
  border-radius: 50% 50% 0 0;
}
.Eye{
  width: 40px;
  height: 60px;
  background-color: white;
  border-top: 8px solid black;
  border-bottom: 3px solid black;
  border-radius: 50% 50% 40% 40%;
  position: relative;
  top:-20px;
}
.EyeInside{
  width: 30px;
  height: 40px;
  background: linear-gradient(45deg, rgb(0, 217, 255) 0%, rgb(0, 255, 170) 100%);
  border-radius: 50% 50% 40% 40%;
  border: 1px solid black;
  position: absolute;
  bottom: -1px;
  left:5px;
}
.EyeInside1{
  width: 12px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left:9px;
}
.EyeInside2{
  width: 12px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left:15px;
}
.EyeInside3{
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 26px;
  left:12px;
}
.EyeInside4{
  width: 3px;
  height: 6px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 20px;
  left:10px;
  transform: rotate(-10deg);
}
.EyeOutside div{
  background-color: black;
  height: 13px;
  width: 2px;
  border-radius: 1px;
}
.EyeOutside div:nth-child(1){
  transform: rotate(-30deg);
  position: absolute;
  top:-13px;
  left:10px;
}
.EyeOutside div:nth-child(2){
  transform: rotate(-15deg);
  position: absolute;
  top:-16.5px;
  left:15px;
}
.EyeOutside div:nth-child(3){
  position: absolute;
  top:-18px;
  left:20px;
}
.EyeOutside div:nth-child(4){
  transform: rotate(15deg);
  position: absolute;
  top:-16.5px;
  left:25.5px;
}
.EyeOutside div:nth-child(5){
  transform: rotate(30deg);
  position: absolute;
  top:-13px;
  left:30px;
}
.Nose{
  width: 30px;
  height: 10px;
  border-left: 5px solid bisque;
  border-radius: 100px 0 0 0;
  transform: rotate(140deg);
  position: absolute;
  top:210px;
  left:70px;
}
.Mouth{
  width: 50px;
  height: 20px;
  border-bottom: 3px solid rgb(255, 129, 112);
  border-radius: 0 0 90% 90%;
  position: absolute;
  top:220px;
  left:75px;
}
.EarRight{
  background-color: beige;
  width:30px;
  height: 50px;
  border: 2px solid bisque;
  position: absolute;
  border-radius: 50%;
  border-left: none;
  top:150px;
  left: 195px;
  transform: rotate(10deg);
}
.EarLeft{
  background-color: beige;
  width:30px;
  height: 50px;
  border: 2px solid bisque;
  position: absolute;
  border-radius: 50%;
  border-right: none;
  top:150px;
  left: -27px;
  transform: rotate(-10deg);
}
.Hair{
  width: 204px;
  height: 150px;
  border-top: rgb(197, 125, 77) 70px solid;
  border-radius: 50% 50% 0 0;
  position: relative;
  top:35px;
  left: 125px;
  z-index: 2;
}
.HairInside1{
  width:350px;
  height: 150px;
  border-top: rgb(197, 125, 77) 50px solid;
  border-radius: 100% 80% 0 0;
  transform: rotate(-70deg);
  position: absolute;
  right:-23px;
}
.HairInside2{
  width:350px;
  height: 150px;
  border-top: rgb(197, 125, 77) 50px solid;
  border-radius: 100% 80% 0 0;
  transform: rotate(80deg);
  position: absolute;
  left:-23px;
  top:3px;
}
.HairInside3{
  width:100px;
  height: 200px;
  border-top: rgb(197, 125, 77) 30px solid;
  border-radius: 100% 80% 0 0;
  position: absolute;
  left:40px;
  top:-30px;
}
.HairInside4{
  width:100px;
  height: 200px;
  border-top: rgb(197, 125, 77) 30px solid;
  border-radius: 100% 0 0 0;
  transform: rotate(-18deg);
  position: absolute;
  left:10px;
  top:-30px;
}
.HairInside5{
  width:100px;
  height: 200px;
  border-top: rgb(197, 125, 77) 30px solid;
  border-radius: 0 100% 0 0;
  transform: rotate(18deg);
  position: absolute;
  right:0px;
  top:-30px;
}
.HairInside6{
  width:50px;
  height: 100px;
  border-top: rgb(197, 125, 77) 30px solid;
  border-radius: 0 100% 0 0;
  transform: rotate(10deg);
  position: absolute;
  right:34px;
  top:-25px;
}
.HairInBG{
  z-index: -2;
  position: relative;
}
.HairInBG1{
  width:300px;
  height: 150px;
  border-top: rgb(197, 125, 77) 50px solid;
  border-radius: 80% 80% 0 0;
  transform: rotate(-90deg);
  position: absolute;
  right:110px;
  top:-100px;
}
.HairInBG2{
  width:300px;
  height: 150px;
  border-top: rgb(197, 125, 77) 50px solid;
  border-radius: 80% 80% 0 0;
  transform: rotate(-90deg);
  position: absolute;
  right:75px;
  top:-100px;
}
.HairInBG3{
  width:300px;
  height: 150px;
  border-top: rgb(197, 125, 77) 50px solid;
  border-radius: 80% 80% 0 0;
  transform: rotate(-80deg);
  position: absolute;
  right:120px;
  top:-90px;
}
.HairInBG4{
  width:300px;
  height: 150px;
  border-top: rgb(197, 125, 77) 50px solid;
  border-radius: 80% 80% 0 0;
  transform: rotate(90deg);
  position: absolute;
  left:110px;
  top:-100px;
}
.HairInBG5{
  width:300px;
  height: 150px;
  border-top: rgb(197, 125, 77) 50px solid;
  border-radius: 80% 80% 0 0;
  transform: rotate(90deg);
  position: absolute;
  left:75px;
  top:-100px;
}
.HairInBG6{
  width:300px;
  height: 150px;
  border-top: rgb(197, 125, 77) 50px solid;
  border-radius: 80% 80% 0 0;
  transform: rotate(80deg);
  position: absolute;
  left:120px;
  top:-90px;
}
.Neck{
  background-color: beige;
  width:70px;
  height: 80px;
  border: 2px solid bisque;
  border-bottom: none;
  position: relative;
  left:190px;
  z-index: -1;
}
.Body{
  background-color: beige;
  width:200px;
  height: 30px;
  border: 2px solid bisque;
  position: relative;
  left:125px;
  top: -10px;
  z-index: -2;
  border-radius: 50%;
}